*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin-top: 20px;
}
#question{
    text-align: center;
    margin-top: 20px;
}
#main{
    margin-top: 40px;
   column-count: 3;
   column-gap: 10px;
}
.one{
    text-align: justify;
    background-color: rgb(180, 205, 164);
    margin-left: 20px;
}
.two{
    text-align: justify;
    background-color:rgb(150, 200, 202);
}
.three{
    text-align: justify;
    background-color: rgb(207, 177, 177);
    margin-right: 20px;
}
.one:hover{
    background-color: black;
    color:rgb(180, 205, 164);
}
.two:hover{
    background-color: black;
    color: rgb(150, 200, 202);
}
.three:hover{
    background-color: rgb(0, 0, 0);
    color:  rgb(207, 177, 177);
}